body {
    background-color: rgb(54, 54, 54);
    margin: 0px;
    padding: 0px;
    font-size: 2vh;
}

/* Classe pour styliser la bare de score */
.score {
    background-color: rgb(37, 37, 37);
    display: block;
    height: 20%;
    width: 100%;
}

.divS {
    display: inline-block;
    width: 48%;
    text-align: left;
    margin: 0%;
    margin-left: 1vw;

}

.js {
    background-image: url("../images/fond-bare-de-scores.png");
    background-size:cover;
    border: 2px solid black;
    width: 20vw;
    height: 3vh;
    text-align: center;
    padding-top: 1vh;
    margin-left: 14vw;
}
/* -------------------------------------------------------------------*/
/* -------------------------------------------------------------------*/
/* -------------------------------------------------------------------*/

/* Classes pour disposer les images au bon endroit */
.imageP {
    position:absolute;
    top: 5vw;
    right: 1vw;
    z-index: 2;
}

.imageP2 {
    position: absolute;
    top: 5vw;
    left: 1vw;
    z-index: 2;
}

/* Classe pour dimensionner les images */
.scale {
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
}

/* Classe pour styliser le plateau de jeux */
.viewport {
    width: 49vw;
    height: 75vh;
    background: url("../images/fond-viewport2.png");
    background-size: 100%;
    position: absolute;
    top: 14vh;
    left: 1vw;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.viewport2 {
    width: 49vw;
    height: 75vh;
    background: url("../images/fond-viewport2.png");
    position: absolute;
    top: 14vh;
    right: 1vw;
    border-left: 2px solid black;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    z-index: 1;
    background-size: 100%;
}


/* classe pour placer au bon endroit le nom du joueur */
.center {
    text-align: center;
    color:white;
    background-color: rgb(39, 39, 39);
    padding: 1VH;
    border-top:  2px solid rgba(255, 255, 0, 0.705);
}
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/


/* Classe pour styliser la bare de compétence  */
.power {
    background-color: rgb(59, 59, 59);
    position: absolute;
    z-index: 1;
    bottom: 0vh;
    height: 10vh;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 0, 0.705);
    color:blueviolet;
}
/*Classes pour placer les textes cote a cote*/
.p{
    position: absolute;
    bottom: 6vh;
    left: 6vw;
}
.pp {
 position: absolute;
 left: 16vw;
 bottom: 6vh;
}
.pp2 {
    position: absolute;
    left: 25vw;
    bottom: 6vh;
}
.button {
    background-color: blueviolet;
    height: 3vh;
    width: 8vw;
    position: absolute;
    z-index: 1;
    top:40vh;
    left: 8vw;
}
.button2 {
    background-color: blueviolet;
    height: 3vh;
    width: 8vw;
    position: absolute;
    z-index: 1;
    top:40vh;
    left: 8vw;
}
/* class pour images des dès qui sera renseigné avec le script js */
.imgDes {
    display: block;
    height: 15vw;
    width: 15vw;
    position: absolute;
    z-index: 2;
    top:25vh;
    right: 64vw;
    border: 2px solid blueviolet;
    border-radius: 2vw;
}

.imgDes2 {
    display: block;
    height: 15vw;
    width: 15vw;
    position: absolute;
    z-index: 2;
    top:25vh;
    left: 19vw;
    border: 2px solid blueviolet;
    border-radius: 2vw;  
}

